[
  {lager, [
      {handlers, [
          [{lager_console_backend,
            [{formatter_config,["[1234]",date," ", time," ",color,"[",severity,"] ", {pid,[]}, " ",message,"\n"]},
            {level,info}]},
          {lager_file_backend,
              [{file, "rabbit_errors.log"},
              {level,info},
              %% The formatter and rotation config is optional
              {formatter_config,
                  ["[1234]",date," ",time," ",color,"[",severity,"] ",
                    {pid,[]},
                    " ",message,"\n"]},
              {date,""},
              {size,0}]}
      ]}]
  },
  {rabbitmq_auth_backend_oauth2, [
    {resource_server_id, <<"naaf-messaging-rabbitmq">>},
    {extra_scopes_source, <<"scope_as_string">>},
    {key_config, [
      {jwks_url, <<"https://auth.ocp01.toll6.tinaa.tlabs.ca/auth/realms/tinaa/protocol/openid-connect/certs">>}
    ]}
  ]}
].